<style>
  #contact-with-us {
    width: 70%;
    min-width: 1100px;
    height: 50%;
    background: white;
    display: inline-block;
    margin-top: 2%;
  }

  #contact-with-us h2, #contact-with-us p {
    text-align: left;
    padding: 5% 0 0 2% !important;
    margin-top: 5%;
  }

  #contact {
    max-width: 436px;
    margin-left: 2%;
    float: left;
    background: white;
  }

  #map {
    background: white;
    float: right;
  }

  #contact, #map {
    display: inline-block;
    height: 450px;
  }

  #fb-icon, #inst-icon {
    float: left;
    width: 8%;
    margin: 2%;
  }

  #main {
    height: 120vh !important;
  }
</style>

  <h1>Свяжитесь с нами</h1>
  <center><div id="contact-with-us">
    <table>
    <div id="contact">
    <h2>Позвоните нам</h2>
    <p>+996 312 58 6655</p>
    <p>г. Бишкек, улица Токтогула 125/1, БЦ «Авангард», офис BOSTI, 1 этаж. Мы работаем ежедневно с 9:00 до 19:00 и без выходных.</p>
    <a href="https://facebook.com/"><img id="fb-icon" src="/img/facebook.png"></a>
    <a href="https://instagram.com/"><img id="inst-icon" src="/img/inst.png"></a>
    </div>
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.011283923812!2d74.59543695075989!3d42.872605979053446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDUyJzIxLjQiTiA3NMKwMzUnNTEuNSJF!5e0!3m2!1suk!2sua!4v1509634552873" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </table>
  </div></center>
