<style>
  #contact-with-us {
    width: 100%;
    min-width: 1200px;
    height: 50%;
    background: white;
  }

  #contact-with-us h2, #contact-with-us p {
    text-align: left;
    padding: 5% 0 0 2% !important;
    margin-top: 5%;
  }

  #contact {
    max-width: 436px;
    height: 450px;
    float: left;
    background: white;
  }

  #map {
    background: white;
  }

  #contact, #map {
    display: inline-block;
    margin: 1% auto 0 2%;
  }

  #fb-icon, #inst-icon {
    float: left;
    width: 8%;
    margin: 2%;
  }

  #main {
    height: 120vh !important;
  }
</style>

  <h1>Свяжитесь с нами</h1>
  <center><div id="contact-with-us">
    <table>
    <div id="contact">
    <h2>Позвоните нам</h2>
    <p>+996 312 625 159</p>
    <p>г. Бишкек, улица Логвиненко, 24/1, офис 21. Мы роботаем с 9 до 19 ежедневно и без выходных</p>
    <a href="https://facebook.com/"><img id="fb-icon" src="/img/facebook.png"></a>
    <a href="https://instagram.com/"><img id="inst-icon" src="/img/inst.png"></a>
    </div>
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.261051953916!2d74.59859375059943!3d42.86733389437336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7d736149083%3A0x41b9c03485f238ee!2zMjQg0K_QutC-0LIg0JvQvtCz0LLQuNC90LXQvdC60L4g0LrTqdGH06nRgdKvLCDQkdC40YjQutC10LosINCa0LjRgNCz0LjQt9GB0YLQsNC9!5e0!3m2!1suk!2sua!4v1501774386223" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </table>
  </div></center>
