<style id="style">
#main {
  text-align: center;
  height: 100vh;
  padding-top: 40vh;
}

#main h1, h2 {
    padding-top: 5%;
}

#fimg {
  padding-right: 5vw;
}

figcaption {
  text-align: center;
  color: white;
}

#simg {
  padding-left: 5vw;
}

#mimg img {
  color: #eee;
  height: 120px;
  margin-top: -0.625em;
}

#fimg img, #simg img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 100%;
    cursor: pointer
}

#fimg, #simg, #mimg, #fsvg {
  vertical-align: middle;
}

#fimg, #simg, #mimg, .Nsvg, #SBlock, #TWOsvg {
  display: inline-block;
}

#SVG1 {
  height: 150px;
}

#SVG1, #SVG2, .SVG {
    width: 30px;
}
.SVG, .NBlock, #simg img{
  display: inline-block;
  margin: auto 3px;
}

#FBlock {
  transform: translate(1%, -40%) !important;
}

#TandP, #NandA, #EandT {
  display: block;
}
#fsvg ul li {text-decoration: none;}

#ssvg, #tsvg {
  vertical-align: middle;
}

#bottom_menu {
  width: 100%;
  min-height: 60vh;
  margin-top: 2%;
  background: #f8f8f8;
  text-align: left;
}

.bottom_punct {
  width: 30vw;
  display: inline-table;
  margin: 1%;
}

.bottom_punct h2, .bottom_punct p {text-align: center;}

#first img, #second img, .bottom_punct img {
  width: 250px;
  padding-left: 20%;
}
#first a, #second a, .bottom_punct a {
  font-size: 20px;
}

.NBlock {
  transform: translate(1%, -5%);
}

#SBlock a, .NBlock a{
  display: block;
  cursor: pointer
}

#ForBlock, #SVGBlock {
  display: inline-block;
  vertical-align: middle;
}

.Nsvg, #bottom_menu, #TWOsvg {
  display: none;
}
</style>
<link rel="stylesheet" type="text/css" href="css/animate.min.css">

  <div id="fimg">
    <img src="/img/doctor.png">
    <figcaption>Докторам</figcaption>
  </div>
  <div class="Nsvg" id="fsvg">
    <svg class="SVG" id="SVG1" viewBox="0 0 30 90"><line x1="0" y1="45" x2="10" y2="45" stroke-width="1" stroke="#3C3C3C"></line><line x1="10" y1="15" x2="10" y2="75" stroke-width="1" stroke="#3C3C3C"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="15" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="45" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="75" r="2" fill="#3C3C3C"></circle></g></svg>
    <div class="NBlock" id="FBlock">
      <a id="TandP">Терапия и продукты</a>
      <a id="NandA">Новости и события</a>
      <a id="EandT">Образование и тренинги</a>
    </div>
  </div>
  <div id="mimg"><img src="/img/bosti.svg"></div>
  <div id="TWOsvg">
    <div class="NBlock" id="ForBlock">
      <a class="npn" onclick="UpdateAjax(this.id)" id="Aritm">Лечение аритмии</a>
    </div>
    <svg id="SVGBlock" class="SVG animated slideInLeft" viewBox="0 0 30 30" direction="left"><line x1="0" y1="15" x2="10" y2="15" stroke-width="1" stroke="#3C3C3C"></line><line x1="10" y1="15" x2="10" y2="15" stroke-width="1" stroke="#3C3C3C"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="15" r="2" fill="#3C3C3C"></circle></g></svg></div>
  <div id="simg">
    <img src="/img/patient.png">
    <figcaption>Пациентам</figcaption>
  </div>
  <div class="Nsvg" id="ssvg">
    <svg class="SVG" id="SVG2" viewBox="0 0 30 180"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="#172782"></line><line x1="10" y1="15" x2="10" y2="165" stroke-width="1" stroke="#172782"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="15" r="2" fill="#172782"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="45" r="2" fill="#172782"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="75" r="2" fill="#172782"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="105" r="2" fill="#172782"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="135" r="2" fill="#172782"></circle></g><g><line x1="10" y1="165" x2="28" y2="165" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="165" r="2" fill="#172782"></circle></g></svg>
    <div class="NBlock" id="SBlock">
      <a id="Arm">Аритмология</a>
      <a id="Card">Кардиохирургия</a>
      <a id="Elec">Электрофизиология</a>
      <a id="Neir">Нейрохирургия</a>
      <a id="Rant">Рентгеноэндоваскулярная хирургия</a>
      <a id="Perf">Перфузиология</a>
    </div>
  </div>
  <div class="Nsvg" id="tsvg" style="padding-top: 2.5%;">

  </div>
  <div id="bottom_menu">
    <h1>Продукты</h1>

  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" ></script>
<script>
var styleDef = $('#style').html();
var htmlDef = $('#bottom_menu').html();

fimg.onclick = function Doctor() {
    $( "#simg" ).hide();
    $( "#mimg" ).hide();
    $('#fimg').css({"padding-left": "5vw", "padding-right": "15px"});
    $('#main').css({"text-align": "inherit", "padding-top": "25vh", "height": "124vh"});
    $('#fsvg').css("display", "inline-block");
    $("ul.nav li:nth-child(2) a").removeClass( "active" )
    $("ul.nav li:first-child a").addClass('active');
    $("#main #fsvg").addClass('animated fadInLeft'); //Анимация для нижнего блока
    //Hide some menu elements
    $("#ssvg").css("display", "none");
    $("#tsvg").css("display", "none");
    document.getElementById("fimg").style.marginTop = "0";
    $('#bottom_menu').hide();
    //Editing URL
    $( "#FBlock a" ).click(function() {
       //window.location.search = '?id=' + this.id;
    });
    UpdateAjax(this.id);
  };

  simg.onclick  = function() {
    $("ul.nav li:nth-child(1) a").removeClass( "active" )
    $("ul.nav li:nth-child(2) a").addClass('active');
    $( "#fimg" ).hide();
    $( "#mimg" ).hide();
    $('#TWOsvg').css({"display": "inline-block"});
    $('#main').css({"text-align": "right", "height": "auto"});
    $('#simg').css({"padding-right": "5vw", "padding-left": "15px"});
  };

Aritm.onclick = function() {
  $('#main').css("padding-top", "20vh");
  $("#main #bottom_menu").addClass('animated fadeInUp');
  $('#bottom_menu').show();
  document.getElementById("tsvg").style.paddingTop = "4%";
  document.getElementById("tsvg").style.marginBottom = "12px";
UpdateAjax(this.id);
}

  TandP.onclick = function() {
    $('#main').css("padding-top", "20vh")
    $('#bottom_menu').show(); //видимость нижнего меню
    $('#ssvg').css({"display": "inline-block", "vertical-align": "bottom", "transform": "translateY(-6%)"});
    $("#main #bottom_menu").addClass('animated fadeInUp'); //Анимация для нижнего блока
    $("#main #ssvg").addClass('animated fadInLeft');
    $('#SBlock').show();
    $('#main').css("height", "auto");
    $('#bottom_menu').css("height", "auto");
    $("#tsvg").css("display", "none");
    $( ".NBlock a" ).click(function() {
       //window.location.search = '?id=' + this.id;
    });
    UpdateAjax(this.id);
  }
  NandA.onclick = function() {
    $('#main').css("padding-top", "20vh")
    $('#bottom_menu').show(); //видимость нижнего меню
    $('#ssvg').css("display", "none");
    $("#main #bottom_menu").addClass('animated fadeInUp'); //Анимация для нижнего блока
    $('#SBlock').hide();
    $('#main').css("height", "auto");
    $('#bottom_menu').css("height", "auto");
    $("#tsvg").css("display", "none");
    UpdateAjax(this.id);
  }

//Adding url data
function setLocation(curLoc){
    try {
      history.pushState(null, null, curLoc);
      return;
    } catch(e) {}
    location.hash = '#' + curLoc;
}

Arm.onclick = function() {
  document.getElementById("tsvg").style.paddingTop = "4%";
  document.getElementById("tsvg").style.marginBottom = "0";
  tsvg.innerHTML = '<svg class="SVG animated slideInLeft" viewBox="0 0 30 120" direction="right"><line x1="0" y1="15" x2="10" y2="15" stroke-width="1" stroke="#000"></line><line x1="10" y1="15" x2="10" y2="105" stroke-width="1" stroke="#000"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#000"></line><circle cx="28" cy="15" r="2" fill="#000"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#000"></line><circle cx="28" cy="45" r="2" fill="#000"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#000"></line><circle cx="28" cy="75" r="2" fill="#000"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#000"></line><circle cx="28" cy="105" r="2" fill="#000"></circle></g></svg><div class="NBlock" id="TBlock"><a class="npn" onclick="UpdateAjax(this.id)" id="a1">Тахикардия</a><a class="npn" onclick="UpdateAjax(this.id)" id="a2">Брадикардия</a><a class="npn" onclick="UpdateAjax(this.id)" id="a3">Ресинхронизация сердечной деятельности</a><a class="npn" onclick="UpdateAjax(this.id)" id="a4">Внешние устройства</a></div>'
  $('#tsvg').css({"display": "inline-block", "vertical-align": "top"});
  $('#tsvg').css("transform", "translate(1%, -20%)");
  $("#tsvg").addClass('animated slideInLeft');
  $('#fimg').css("margin-top", "2%");
  $( ".npn" ).click(function() {
     //window.location.search = '?id=' + this.id;
  });
  UpdateAjax(this.id);
}

Card.onclick = function Card() {
  document.getElementById("tsvg").style.paddingTop = "4%";
  document.getElementById("tsvg").style.marginBottom = "0";
  tsvg.innerHTML = '<svg class="SVG animated slideInLeft" viewBox="0 0 30 150" direction="right"><line x1="0" y1="45" x2="10" y2="45" stroke-width="1" stroke="#b82c51"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="#b82c51"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#b82c51"></line><circle cx="28" cy="15" r="2" fill="#b82c51"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#b82c51"></line><circle cx="28" cy="45" r="2" fill="#b82c51"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#b82c51"></line><circle cx="28" cy="75" r="2" fill="#b82c51"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#b82c51"></line><circle cx="28" cy="105" r="2" fill="#b82c51"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#b82c51"></line><circle cx="28" cy="135" r="2" fill="#b82c51"></circle></g></svg><div class="NBlock" id="TBlock"><a class="npn" onclick="UpdateAjax(this.id)" id="c1">Перикардиальные заплаты</a><a class="npn" onclick="UpdateAjax(this.id)" id="c2">Механические клапаны для сердца</a><a class="npn" onclick="UpdateAjax(this.id)" id="c3">Биологические клапаны для сердца</a><a class="npn" onclick="UpdateAjax(this.id)" id="c4">Аортальные графты с клапаном</a><a class="npn" onclick="UpdateAjax(this.id)" id="c5">Аксессуары для кардиохирургии SJM</a></div>'
  $('#tsvg').css({"display": "inline-block", "vertical-align": "top"});
  $('#tsvg').css("transform", "translate(1%, -20%)");
  $("#tsvg").addClass('animated slideInLeft');
  $('#fimg').css("margin-top", "2%");
  $( ".npn" ).click(function() {
     window.location.search = '?id=' + this.id;
  });
  UpdateAjax(this.id);
}
Elec.onclick = function() {
  document.getElementById("tsvg").style.paddingTop = "4%";
  document.getElementById("tsvg").style.marginBottom = "0";
tsvg.innerHTML = '<svg class="SVG animated slideInLeft"" viewBox="0 0 30 150" direction="right"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="#b322b3"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="#b322b3"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="15" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="45" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="75" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="105" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="135" r="2" fill="#b322b3"></circle></g></svg><div class="NBlock" id="TBlock"><a class="npn" onclick="UpdateAjax(this.id)" id="e1">Диагностические катетеры</a><a class="npn" onclick="UpdateAjax(this.id)" id="e2">Аблационные катетеры</a><a class="npn" onclick="UpdateAjax(this.id)" id="e3">Оборудование для ЭФИ и РЧА</a><a class="npn" onclick="UpdateAjax(this.id)" id="e4">3D картирование сердца</a><a class="npn" onclick="UpdateAjax(this.id)" id="e5">Аксессуары для ЭФИ SJM</a></div>'
$('#tsvg').css({"display": "inline-block", "vertical-align": "top"});
$('#tsvg').css("transform", "translate(1%, -20%)");
$('#fimg').css("margin-top", "2%");
$("#tsvg").addClass('animated slideInLeft');
$( ".npn" ).click(function() {
   window.location.search = '?id=' + this.id;
});
UpdateAjax(this.id);
}
Neir.onclick = function() {
  document.getElementById("tsvg").style.paddingTop = "1.5%";
  document.getElementById("tsvg").style.marginBottom = "0";
tsvg.innerHTML = '<svg class="SVG animated slideInLeft"" id="SVG2" viewBox="0 0 30 180"><line x1="0" y1="135" x2="10" y2="135" stroke-width="1" stroke="#172782"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="#172782"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="15" r="2" fill="#172782"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="75" r="2" fill="#172782"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="135" r="2" fill="#172782"></circle></g></svg><div class="NBlock" id="TBlock"><a class="npn" onclick="UpdateAjax(this.id)" id="n1">Эпидуральная электростимуляция<br> спинного мозга (SCS)</a><a class="npn" onclick="UpdateAjax(this.id)" id="n2">Электростимуляция глубинных<br> структур головного мозга (DBS)</a><a class="npn" onclick="UpdateAjax(this.id)" id="n3">Шунтирующие системы, наружные дренажи, вентрикулярные<br> резервуары и мониторинг ВЧД</a></div>'
$('#tsvg').css({"display": "inline-block", "vertical-align": "top"});
$('#tsvg').css("transform", "translate(1%, -15%)");
$("#tsvg").addClass('animated slideInLeft');
$('#fimg').css("margin-top", "2%");
$( ".npn" ).click(function() {
   window.location.search = '?id=' + this.id;
});
UpdateAjax(this.id);
}
Rant.onclick = function() {
  document.getElementById("tsvg").style.paddingTop = "4%";
  document.getElementById("tsvg").style.marginBottom = "12px";
tsvg.innerHTML = '<svg class="SVG animated slideInLeft"" viewBox="0 0 30 215" direction="right"><line x1="0" y1="165" x2="10" y2="165" stroke-width="1" stroke="#0f0f0f"></line><line x1="10" y1="15" x2="10" y2="200" stroke-width="1" stroke="#0f0f0f"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="15" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="45" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="75" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="105" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="165" x2="28" y2="165" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="165" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="200" x2="28" y2="200" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="200" r="2" fill="#0f0f0f"></circle></g></svg><div class="NBlock" id="TBlock"><a class="npn" onclick="UpdateAjax(this.id)" id="r1">Визуализация сосудов сердца - OCT</a><a class="npn" onclick="UpdateAjax(this.id)" id="r2">Внутрисердечные и сосудистые окклюдеры Amplatzer</a><a class="npn" onclick="UpdateAjax(this.id)" id="r3">Измерение внутрисосудистогов давления - FFR</a><a class="npn" onclick="UpdateAjax(this.id)" id="r4">Инструменты для периферической <br>ангиопластики и стентирования</a><a class="npn" onclick="UpdateAjax(this.id)" id="r5">Аксессуары для коронарографий</a><a class="npn" onclick="UpdateAjax(this.id)" id="r6">Инструменты для коронарной ангиопластики и стентирования</a></div>'
$('#tsvg').css({"display": "inline-block", "vertical-align": "bottom"});
$('#tsvg').css("transform", "translate(1%, 2%)");
$('#fimg').css("margin-top", "2%");
$( ".npn" ).click(function() {
   window.location.search = '?id=' + this.id;
});
UpdateAjax(this.id);
}
Perf.onclick = function() {
  document.getElementById("tsvg").style.paddingTop = "4%";
  document.getElementById("tsvg").style.marginBottom = "12px";
tsvg.innerHTML = '<svg class="SVG animated slideInLeft"" viewBox="0 0 30 150" direction="right"><line x1="0" y1="135" x2="10" y2="135" stroke-width="1" stroke="#0f0f0f"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="#0f0f0f"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="15" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="45" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="75" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="105" r="2" fill="#0f0f0f"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#0f0f0f"></line><circle cx="28" cy="135" r="2" fill="#0f0f0f"></circle></g></svg><div class="NBlock" id="TBlock"><a class="npn" onclick="UpdateAjax(this.id)" id="p1">Наборы для гемофильтрации</a><a class="npn" onclick="UpdateAjax(this.id)" id="p2">Наборы для кардиоплегии</a><a class="npn" onclick="UpdateAjax(this.id)" id="p3">Оксигенаторы</a><a class="npn" onclick="UpdateAjax(this.id)" id="p4">Канюли</a><a class="npn" onclick="UpdateAjax(this.id)" id="p5">ЭКМО</a></div>'
$('#tsvg').css({"display": "inline-block", "vertical-align": "bottom"});
$('#tsvg').css("transform", "translate(1%, 2%)");
$('#fimg').css("margin-top", "2%");
$( ".npn" ).click(function() {
   //window.location.search = '?id=' + this.id;
});
UpdateAjax(this.id);
}

function UpdateAjax(id) {
  var current_id = id;
  $.ajax({
    url: '/',
    data: ({id: current_id}),
    success: function (data) {
      //var arr = $.parseJSON(data);
        $.getJSON( '/', function( data ) {
          $('#style').empty();
          $('#bottom_menu').empty();
          $('#style').html(styleDef);
          $('#bottom_menu').html(htmlDef);
          $.each( data, function( i, val ) {
            if (val.htmltarget == current_id) {
            bottom_menu.innerHTML += `<div class="bottom_punct">` + val.html + `</div>`;
            style.innerHTML += val.css.replace(/<br\s*\/?>/gi,'').replace(/<\/p>/gm, "").replace(/<\p>/gm, "");
          }
        });
        });

      }
  });
}
</script>
