<style>
#main {
  text-align: center;
  height: 100vh;
  padding-top: 40vh;
}

#main h1, h2 {
    padding-top: 5%;
}

#fimg {
  padding-right: 30vw;
}

#fimg img, #simg img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 100%;
}

#fimg, #simg, .Nsvg, #SBlock {
  display: inline-block;
}

#SVG1 {
  height: 150px;
}

#SVG1, #SVG2, .SVG {
    width: 30px;
}
.SVG, .NBlock{
  display: inline-block;
}

#FBlock {
  transform: translate(1%, -40%) !important;
}

#TandP, #NandA, #EandT {
  display: block;
}
#fsvg ul li {text-decoration: none;}

#bottom_menu {
  width: 100%;
  height: 80vh;
  background: #f8f8f8;
}

.bottom_punct {
  width: 30vw;
  display: inline-grid;
  margin: 1%;
}

#first img, #second img, .bottom_punct img {
  width: 250px;
  padding-left: 20%;
}
#first a, #second a, .bottom_punct a {
  font-size: 20px;
}

.NBlock {
  transform: translate(1%, -5%);
}

#SBlock a, .NBlock a{
  display: block;
  cursor: pointer
}

.Nsvg, #bottom_menu {
  display: none;
}
</style>
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<div id="main">
  <div id="fimg"><img src="/img/doctor.png"></div>
  <div class="Nsvg" id="fsvg">
    <svg class="SVG" id="SVG1" viewBox="0 0 30 90"><line x1="0" y1="45" x2="10" y2="45" stroke-width="1" stroke="#3C3C3C"></line><line x1="10" y1="15" x2="10" y2="75" stroke-width="1" stroke="#3C3C3C"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="15" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="45" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="75" r="2" fill="#3C3C3C"></circle></g></svg>
    <div class="NBlock" id="FBlock">
      <a id="TandP">Терапия и продукты</a>
      <a id="NandA">Новости и события</a>
      <a id="EandT">Образование и тренинги</a>
    </div>
  </div>
  <div id="simg"><img src="/img/patient.png"></div>
  <div class="Nsvg" id="ssvg">
    <svg class="SVG" id="SVG2" viewBox="0 0 30 180"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="#172782"></line><line x1="10" y1="15" x2="10" y2="165" stroke-width="1" stroke="#172782"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="15" r="2" fill="#172782"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="45" r="2" fill="#172782"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="75" r="2" fill="#172782"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="105" r="2" fill="#172782"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="135" r="2" fill="#172782"></circle></g><g><line x1="10" y1="165" x2="28" y2="165" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="165" r="2" fill="#172782"></circle></g></svg>
    <div class="NBlock" id="SBlock">
      <a id="Arm">Аритмология</a>
      <a id="Card">Кардиохирургия</a>
      <a id="Elec">Электрофизиология</a>
      <a id="Neir">Нейрохирургия</a>
      <a id="Rant">Рентгеноэндоваскулярная хирургия</a>
      <a id="Perf">Перфузиология</a>
    </div>
  </div>
  <div class="Nsvg" id="tsvg">

  </div>
  <div id="bottom_menu">
    <h1>Продукты</h1>
    <div class="bottom_punct" id="first">
      <h2>Endurity Core DR двухкамерный кардиостимулятор</h2>
      <img src="https://bosti.s3.amazonaws.com/system/image/image/17/medium_pic.jpg">
      <a><br>The Endurity™ pacemaker offers exceptional longevity in a small device size and a physiologic physician-preferred shape enabling a smaller incision and pocket size.</a>
    </div>
    <div class="bottom_punct" id="second">
      <h2>Endurity Core SR однокамерный кардиостимулятор</h2>
      <img src="https://bosti.s3.amazonaws.com/system/image/image/16/medium_pic.jpg">
      <a><br>К наиболее значимым характеристикам кардиостимуляторов St. Jude Medical относятся: долговечность, отсутствие нежелательной стимуляции правого желудочка, расширенная автоматизация, включая диагностику. Так...</a>
    </div>
    <div class="bottom_punct">
      <h2>Аортальный клапан Regent</h2>
      <img src="https://bosti.s3.amazonaws.com/system/image/image/12/medium_pic.jpg">
      <a><br>The SJM Regent™ mechanical heart valve is the most widely implanted mechanical valve in the world. More than two million St. Jude Medical™ mechanical valves have been implanted worldwide, and the SJM Rege...</a>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" ></script>
<script src="/js/main.js"></script>
