<header>
  <a href="../"><img id="index-img" src="/index.png"></a>
  <div id="menu-links">
    <a href="/doctor"><span>Врачам</span></a>
  <a href="/patient"><span>Пациентам</span></a>
  <a href="/partners"><span>Партнерам</span></a>
  <a href="/service"><span>Сервис</span></a>
  <a href="/questions"><span>Вопросы и ответы</span></a>
  </div>
  <button id="search-img"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAAXNSR0IArs4c6QAAAWBJREFUGNNdjr9rE3EcQN/n87kcmqZFSiqm1DtsF8EqtaVo2wzdFEs20cmpFPx//AtE0KWTi4tDa9FBo4gg1Epy/W2IMZFejabpfc8hGcQ3Pt7wpAg452el0xajhwdpOjQejnqNaKeG9GWqwZ3bw79czr16/rErABbIpYdL3zbWy1Wmp+o7vTLJ3517+6TsILy/9OBwUwELrq9Ejz5kzKz1NT/DawV0aFLff/IBMo0XJ5fzKaAD4c/N/kra3B24mAIq5rr9PXEnvVX98z03lvTL7FinDqBHn3OzFxKAJHdzeO9QASt0J66cqbRw3bO37sVPqwpY2G5Nzoyey56/VioV4nLFAAuTem1kfurqjcXZ462JQnPbwAI53f8S/fbZe7n6xi8GrcjwQN1WdWNQ283YHrvSsq5lLADR9PhHIz715KjiL4TxtgUAomoqCHHVW5B3Hv8i1J5FBx0p8h9e4v4Ch8KAosz7tHEAAAAASUVORK5CYII="></button>
</header>