<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<table id="home-t">
  <tr>
    <td id="fimg">
      <img src="/img/doctor.png">
      <figcaption>Докторам</figcaption>
    </td>
    <td class="dnone lines" id="doktor-line-1">
      <div>
        <svg viewBox="0 0 30 90"><line x1="0" y1="45" x2="10" y2="45" stroke-width="1" stroke="#3C3C3C"></line><line x1="10" y1="15" x2="10" y2="75" stroke-width="1" stroke="#3C3C3C"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="15" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="45" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="75" r="2" fill="#3C3C3C"></circle></g></svg>
        <div class="fimg">
          <a id="2TandP">Терапия и продукты</a>
          <a id="2NandA">Новости и события</a>
          <a id="2EandT">Образование и тренинги</a>
        </div>
      </div>
    </td>
    <td class="dnone lines" id="doktor-line-2">
      <div class="dnone TandP">
        <svg viewBox="0 0 30 180"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="#172782"></line><line x1="10" y1="15" x2="10" y2="165" stroke-width="1" stroke="#172782"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="15" r="2" fill="#172782"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="45" r="2" fill="#172782"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="75" r="2" fill="#172782"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="105" r="2" fill="#172782"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="135" r="2" fill="#172782"></circle></g><g><line x1="10" y1="165" x2="28" y2="165" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="165" r="2" fill="#172782"></circle></g></svg>
        <div>
          <a id="3Arm">Аритмология</a>
          <a id="3Card">Кардиохирургия</a>
          <a id="3Elec">Электрофизиология</a>
          <a id="3Neir">Нейрохирургия</a>
          <a id="3Rant">Рентгеноэндоваскулярная хирургия</a>
          <a id="3Perf">Перфузиология</a>
        </div>
      </div>
    </td>
    <td class="dnone lines" id="doktor-line-3">
      <div class="dnone Arm">
        <svg viewBox="0 0 30 120" direction="right"><line x1="0" y1="15" x2="10" y2="15" stroke-width="1" stroke="rgb(159, 28, 28)"></line><line x1="10" y1="15" x2="10" y2="105" stroke-width="1" stroke="rgb(159, 28, 28)"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="rgb(159, 28, 28)"></line><circle cx="28" cy="15" r="2" fill="rgb(159, 28, 28)"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="rgb(159, 28, 28)"></line><circle cx="28" cy="45" r="2" fill="rgb(159, 28, 28)"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="rgb(159, 28, 28)"></line><circle cx="28" cy="75" r="2" fill="rgb(159, 28, 28)"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="rgb(159, 28, 28)"></line><circle cx="28" cy="105" r="2" fill="rgb(159, 28, 28)"></circle></g></svg>
        <div>
          <a>Тахикардия</a>
          <a>Брадикардия</a>
          <a>Ресинхронизация сердечной деятельности</a>
          <a>Внешние устройства</a>
        </div>
      </div>
      <div class="dnone Card">
        <svg viewBox="0 0 30 150" direction="right"><line x1="0" y1="45" x2="10" y2="45" stroke-width="1" stroke="rgb(2, 86, 9)"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="rgb(2, 86, 9)"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="rgb(2, 86, 9)"></line><circle cx="28" cy="15" r="2" fill="rgb(2, 86, 9)"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="rgb(2, 86, 9)"></line><circle cx="28" cy="45" r="2" fill="rgb(2, 86, 9)"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="rgb(2, 86, 9)"></line><circle cx="28" cy="75" r="2" fill="rgb(2, 86, 9)"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="rgb(2, 86, 9)"></line><circle cx="28" cy="105" r="2" fill="rgb(2, 86, 9)"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="rgb(2, 86, 9)"></line><circle cx="28" cy="135" r="2" fill="rgb(2, 86, 9)"></circle></g></svg>
        <div>
          <a>Перикардиальные заплаты</a>
          <a>Механические клапаны для сердца</a>
          <a>Биологические клапаны для сердца</a>
          <a>Аортальные графты с клапаном</a>
          <a>Аксессуары для кардиохирургии SJM</a>
        </div>
      </div>
      <div class="dnone Elec">
        <svg viewBox="0 0 30 150" direction="right"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="#b322b3"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="#b322b3"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="15" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="45" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="75" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="105" r="2" fill="#b322b3"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#b322b3"></line><circle cx="28" cy="135" r="2" fill="#b322b3"></circle></g></svg>
        <div>
          <a>Диагностические катетеры</a>
          <a>Аблационные катетеры</a>
          <a>Оборудование для ЭФИ и РЧА</a>
          <a>3D картирование сердца</a>
          <a>Аксессуары для ЭФИ SJM</a>
        </div>
      </div>
      <div class="dnone Neir">
        <svg viewBox="0 0 30 180"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="rgb(0, 61, 71)"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="rgb(0, 61, 71)"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="rgb(0, 61, 71)"></line><circle cx="28" cy="15" r="2" fill="rgb(0, 61, 71)"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="rgb(0, 61, 71)"></line><circle cx="28" cy="75" r="2" fill="rgb(0, 61, 71)"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="rgb(0, 61, 71)"></line><circle cx="28" cy="135" r="2" fill="rgb(0, 61, 71)"></circle></g></svg>
        <div>
          <a>Эпидуральная электростимуляция<br> спинного мозга (SCS)</a>
          <a>Электростимуляция глубинных<br> структур головного мозга (DBS)</a>
          <a>Шунтирующие системы, наружные дренажи,<br> вентрикулярные резервуары и мониторинг ВЧД</a>
        </div>
      </div>
      <div class="dnone Rant">
        <svg viewBox="0 0 30 235" direction="right"><line x1="0" y1="135" x2="10" y2="135" stroke-width="1" stroke="rgb(44, 104, 6)"></line><line x1="10" y1="15" x2="10" y2="220" stroke-width="1" stroke="rgb(44, 104, 6)"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="rgb(44, 104, 6)"></line><circle cx="28" cy="15" r="2" fill="rgb(44, 104, 6)"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="rgb(44, 104, 6)"></line><circle cx="28" cy="45" r="2" fill="rgb(44, 104, 6)"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="rgb(44, 104, 6)"></line><circle cx="28" cy="105" r="2" fill="rgb(44, 104, 6)"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="rgb(44, 104, 6)"></line><circle cx="28" cy="135" r="2" fill="rgb(44, 104, 6)"></circle></g><g><line x1="10" y1="190" x2="28" y2="190" stroke-width="1" stroke="rgb(44, 104, 6)"></line><circle cx="28" cy="190" r="2" fill="rgb(44, 104, 6)"></circle></g><g><line x1="10" y1="220" x2="28" y2="220" stroke-width="1" stroke="rgb(44, 104, 6)"></line><circle cx="28" cy="220" r="2" fill="rgb(44, 104, 6)"></circle></g></svg>
        <div>
          <a>Визуализация сосудов сердца - OCT</a>
          <a>Внутрисердечные и сосудистые<br> окклюдеры Amplatzer</a>
          <a>Измерение внутрисосудистогов давления - FFR</a>
          <a>Инструменты для периферической <br>ангиопластики и стентирования</a>
          <a>Аксессуары для коронарографий</a>
          <a>Инструменты для коронарной<br> ангиопластики и стентирования</a>
        </div>
      </div>
      <div class="dnone Perf">
        <svg viewBox="0 0 30 150" direction="right"><line x1="0" y1="135" x2="10" y2="135" stroke-width="1" stroke="rgb(138, 60, 40)"></line><line x1="10" y1="15" x2="10" y2="135" stroke-width="1" stroke="rgb(138, 60, 40)"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="rgb(138, 60, 40)"></line><circle cx="28" cy="15" r="2" fill="rgb(138, 60, 40)"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="rgb(138, 60, 40)"></line><circle cx="28" cy="45" r="2" fill="rgb(138, 60, 40)"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="rgb(138, 60, 40)"></line><circle cx="28" cy="75" r="2" fill="rgb(138, 60, 40)"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="rgb(138, 60, 40)"></line><circle cx="28" cy="105" r="2" fill="rgb(138, 60, 40)"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="rgb(138, 60, 40)"></line><circle cx="28" cy="135" r="2" fill="rgb(138, 60, 40)"></circle></g></svg>
        <div>
          <a>Наборы для гемофильтрации</a>
          <a>Наборы для кардиоплегии</a>
          <a>Оксигенаторы</a>
          <a>Канюли</a>
          <a>ЭКМО</a>
        </div>
      </div>
    </td>
    <td id="mimg"><img src="/img/bosti.svg"></td>
    <td id="simg">
      <img src="/img/patient.png">
      <figcaption>Пациентам</figcaption>
    </td>
  </tr>
</table>
  <div class="dnone" id="bottom_menu">
    <h1>Продукты</h1>
  </div>
<script src="js/home.js"></script>
