<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<table id="home-t">
  <tr>
    <td id="fimg">
      <img src="/img/doctor.png">
      <figcaption>Докторам</figcaption>
    </td>
    <td class="dnone lines" id="doktor-line-1">
      <div>
        <svg viewBox="0 0 30 90"><line x1="0" y1="45" x2="10" y2="45" stroke-width="1" stroke="#3C3C3C"></line><line x1="10" y1="15" x2="10" y2="75" stroke-width="1" stroke="#3C3C3C"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="15" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="45" r="2" fill="#3C3C3C"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#3C3C3C"></line><circle cx="28" cy="75" r="2" fill="#3C3C3C"></circle></g></svg>
        <div class="fimg">
          <a id="2TandP">Терапия и продукты</a>
          <a id="2NandA">Новости и события</a>
          <a id="2EandT">Образование и тренинги</a>
        </div>
      </div>
    </td>
    <td class="dnone lines" id="doktor-line-2">
      <div class="dnone TandP">
        <svg viewBox="0 0 30 180"><line x1="0" y1="75" x2="10" y2="75" stroke-width="1" stroke="#172782"></line><line x1="10" y1="15" x2="10" y2="165" stroke-width="1" stroke="#172782"></line><g><line x1="10" y1="15" x2="28" y2="15" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="15" r="2" fill="#172782"></circle></g><g><line x1="10" y1="45" x2="28" y2="45" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="45" r="2" fill="#172782"></circle></g><g><line x1="10" y1="75" x2="28" y2="75" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="75" r="2" fill="#172782"></circle></g><g><line x1="10" y1="105" x2="28" y2="105" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="105" r="2" fill="#172782"></circle></g><g><line x1="10" y1="135" x2="28" y2="135" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="135" r="2" fill="#172782"></circle></g><g><line x1="10" y1="165" x2="28" y2="165" stroke-width="1" stroke="#172782"></line><circle cx="28" cy="165" r="2" fill="#172782"></circle></g></svg>
        <div>
          <a id="Arm">Аритмология</a>
          <a id="Card">Кардиохирургия</a>
          <a id="Elec">Электрофизиология</a>
          <a id="Neir">Нейрохирургия</a>
          <a id="Rant">Рентгеноэндоваскулярная хирургия</a>
          <a id="Perf">Перфузиология</a>
        </div>
      </div>
    </td>
    <td id="mimg"><img src="/img/bosti.svg"></td>
    <td id="simg">
      <img src="/img/patient.png">
      <figcaption>Пациентам</figcaption>
    </td>
  </tr>
</table>
  <div class="dnone" id="bottom_menu">
    <h1>Продукты</h1>
  </div>
<script src="js/home.js"></script>
