<style>
  #main {
    padding-bottom: 10vh;
    height: auto;
  }

  #main p {
    text-align: center;
    margin-bottom: 2%;
    padding: 5% 0 0 5%;
    font-size: 23px;
  }

  #partners {
    text-align: center;
    margin: 4vh auto;
  }

  .partners-sites {
    width: 22vw;

    -webkit-filter: grayscale(100%);
  }
  .partners-sites:hover {
    -webkit-filter: grayscale(0%);
  }
  #cookmedical, #xenios {
    width: 12vw;
  }
  .part img, .part p {
    display: inline-block;
  }

  .part img, #about-partners tr th {text-align: center;}

  .part p {
    width: 70%;
    float: right;
  }

  .partners-about {
    width: 300px;
    padding-left: 20px;
  }

  #about-partners {
    margin: 4vh auto 0 auto;
  }

  #about-partners, #partners {background: white;}
  #about-partners tr {margin: 2vw 0;}
  #about-partners th p {
    text-align: left !important;
    width: 90%;
    margin: 5% auto;
    padding: 0 !important;
  }
</style>

  <h1>Партнерам</h1>
  <p>Мы работаем с ведущими производителями, станьте и вы <br>нашим партнером.</p>
  <table id="partners" cellspacing="20">
    <tr>
  <td><a href="www.abbott.com/"><img class="partners-sites" src="/img/abbott.png"></a></td>
  <td><a href="https://www.sjm.com/"><img class="partners-sites" src="/img/SJM.png"></a></td>
  <td><a href="https://www.biotronik.com/"><img class="partners-sites" src="/img/biotronik.png"></a></td>
  <td><a href="https://www.xeniosusa.com/"><img id="xenios" class="partners-sites" src="/img/xenios.png"></a></td>
</tr>
<tr>
  <td><a href="http://medos.com.ua/"><img class="partners-sites" src="/img/medos.png"></a></td>
  <td><a href="http://www.sophysa.com/"><img class="partners-sites" src="/img/sophysa.png"></a></td>
  <td><a href="https://www.merit.com/"><img class="partners-sites" src="/img/meritmedical.png"></a></td>
  <td><a href="https://www.cookmedical.com/"><img id="cookmedical" class="partners-sites" src="/img/cookmedical.png"></a></td>
</tr>
  <div id="about">
    <table id="about-partners" width="98%" cellpadding="5">
      <tr>
        <div class="part">
          <th><img class="partners-about" src="/img/abbott.png"></th>
          <th><p>
            Abbott Vascular является одним из мировых лидеров в создании продукции для эндоваскулярных интервенций и объединяет лучшие разработки в области медицинских инструментов и фармацевтических препаратов для современного лечения сердечно-сосудистых заболеваний. Продукция компании высоко ценится специалистами во всем мире за ее беспрецедентную эффективность, надежность и безопасность. Значительные инвестиции в научные и прикладные исследования, а также реализация передовых образовательных программ для специалистов являются основными принципами работы компании Abbott Vascular. Продукция компании Abbott Vascular включает в себя баллонорасширяемые и самораскрывающиеся стенты, проводники, системы защиты от дистальной эмболии, баллонные катетеры и аксессуары для ангиопластики.
          </p></th>
        </div>
      </tr>

    <tr>
      <div class="part">
        <th><img class="partners-about" src="/img/biotronik.png"></th>
        <th><p>
          Компания "BIOTRONIK AG" была создана в 1963 г. на территории Западного Берлина известным учёным и разработчиком электрокардиостимуляторов профессором Максом Шальдахом (1936 – 2001), который ещё в начале 90-х годов наладил широкое сотрудничество с ведущими российскими клиническими и научными учреждениями. За свою почти полувековую историю "BIOTRONIK AG" достиг уровня признанного мирового лидера в разработке и производстве имплантатов для интервенционной кардиологии и аритмологии, оборудования и расходных материалов для электрофизиологических исследований сердца. В настоящее время лаборатории и производственные подразделения "BIOTRONIK AG" расположены в Германии, США и Швейцарии. Спектр продукции компании включает имплантируемые устройства для лечения нарушений ритма сердца, наружные электрокардиостимуляторы и временные электроды, катетеры для электрофизиологической диагностики и радиочастотной абляции сердца, коронарные и периферические стенты и другие изделия для ангиопластики.
        </p></th>
      </div>
    </tr>
      <tr>
        <div class="part">
          <th><img class="partners-about" src="/img/SJM.png"></th>
          <th><p>Компания St. Jude Medical (штат Минесота, США)) основана в 1976 году и имеет больше 100 заводов по всему миру. Компания St. Jude производит медицинское оборудование по следующим направлениями: аритмология, электрофизиология, кардиохирургия, рентгеноэндоваскулярная хирургия, нейрохирургия, интервенционная кардиология. Спектр продукции St.Jude включает: имплантируемые кардиовертеры - дефибрилляторы (ИКД), устройства для сердечной реконструктивной терапии (CRT), электрокардиостимуляторы (ЭКС), катетеры для электрофизиологии, системы для 3D визуализации сердца, окклюдеры, системы для внутрисердечной реконструкции, устройства для стимуляции спинного мозга и глубинных структур головного мозга. </p></th>
        </div>
      </tr>
      <tr>
      <div class="part">
        <th><img class="partners-about" src="/img/xenios.png" style="width: 15vw;"></th>
        <th><p>
          XENIOS AG фокусируется на лечении легочной и сердечной недостаточности, а также обеспечивает системы для минимально инвазивной легочной и сердечной помощи во время тяжелых заболеваний и операций.
        </p></th>
      </div>
    </tr>

    <tr>
    <div class="part">
      <th><img class="partners-about" src="/img/medos.png"></th>
      <th><p>Компания MEDOS (Германия) основана в 1987 году. Основным видом деятельности компании является производство и продажа медицинских изделий для сердечно-сосудистой хирургии и интенсивной терапии: оксигенаторы для кардиохирургии и ЭКМО, система для вспомогательного кровообращения DELTASTREAM. Компания Medos занимает лидирующие позиции в мире по производству и поставкам кардиохирургического оборудования. Продукция компании активно используется в таких странах, как Германия, Франция, Великобритания, Япония, Китай, Чехия, Тайвань и др. С 2013 года входит в холдинг Xenios AG </p></th>
    </div>
  </tr>
<tr>
    <div class="part">
      <th><img class="partners-about" src="/img/sophysa.png"></th>
      <th><p>
        Основанная в 1976 году, компания Sophysa (Франция) стала новатором в разработке регулируемых нейрохирургических клапанов для лечения гидроцефалии. Являясь специалистом в области нейрохирургии, компания Sophysa предлагает  широкий выбор нейрохирургических имплантов для лечения гидроцефалии, включая различные виды клапанов, катетеров и резервуаров. Кроме того, линейка оборудования включает датчики внутричерепного давления   и температуры, а также системы наружного дренирования спинномозговой жидкости. Компания SOPHYSA реализует свою продукцию по всему миру через международную сеть эксклюзивных дистрибьюторов. Во Франции и странах Бенилюкса продукция SOPHYSA продается напрямую через торговых представителей. Головной офис, отвечающий за административную и торговую деятельность компании, находится в университетском городке Орсэ, расположенном к югу от Парижа. Центр по научным исследованиям и разработкам, также, как  и производство, находится во французской столице микро-механики - городе Безансон, на ультрасовременном заводе, который был открыт в 2007 году. Компания SOPHYSA также имеет филиалы в Бельгии, в городе Беин-Эюзэ и в США, в городе Кроунпойнт, штат Индиана.
      </p></th>
  </div>
</tr>
<tr>
    <div class="part">
      <th><img class="partners-about" src="/img/meritmedical.png"></th>
      <th><p>
        Основанная в 1987 Фредом П. Лампропулосом и Кентом В. Стэнджером, компания Merit Medical Systems, Inc., была создана и развивалась с целью производства и реализации одноразового медицинского оборудования для интервенционных и диагностических процедур. <br>По праву считаясь мировым лидером, компания Merit Medical производит различные кардиологические и радиологические устройства, которые используются в диагностических и интервенционных вмешательствах на коронарных и периферических сосудах, а также при других несосудистых заболеваниях. Кардиологическая и радиологическая продукция включает устройства инфляции; гемостатические клапаны; устройства для извлечения инородных тел из просвета сосуда; микросферы для эмболизации и системы доставки микросфер; устройства для создания сосудистого доступа; диагностические катетеры, проводники, торк-девайсы, устройства компрессии радиальной артерии, аксессуары для ангиографии и ангиопластики, такие как шприцы, манифолды, краники, линии и датчики кровяного давления.
      </p></th>
  </div>
</tr>
<tr>
  <div class="part">
      <th><img class="partners-about" src="/img/cookmedical.png" style="width: 250px;"></th>
      <th><p>
        Cook Medical - c 1963 года группа компаний находится среди мировых лидеров в производстве медицинского оборудования. И до сих пор Cook остается в авангарде медицинских исследований и продаж продукции для эндоваскулярной медицины, интенсивной терапии, общей хирургии, диагностических и интервенционных процедур, трансплантологии, гастроэнтерологии, эндоскопии, урологии, акушерства и гинекологии.
      </p></th>
  </div>
</tr>
</table>
  </div>
