<style>
  .partners-sites {
    width: 30%;
    padding: 4%;
    -webkit-filter: grayscale(100%);
  }
  .partners-sites:hover {
    -webkit-filter: grayscale(0%);
  }
  #cookmedical {
    width: 15%;
  }
</style>

<div id="main">
  <h1>Партнерам</h1>
  <p>Мы работаем с ведущими производителями, станьте и вы нашим партнером.</p>
  <a href="www.abbott.com/"><img class="partners-sites" src="/img//abbott.png"></a>
  <a href="https://www.biotronik.com/"><img class="partners-sites" src="/img/biotronik.png"></a>
  <a href="https://www.sjm.com/"><img class="partners-sites" src="/img/SJM.png"></a>
  <a href="https://www.xeniosusa.com/"><img class="partners-sites" src="/img/xenios.png"></a>
  <a href="http://medos.com.ua/"><img class="partners-sites" src="/img/medos.png"></a>
  <a href="http://www.sophysa.com/"><img class="partners-sites" src="/img/sophysa.png"></a>
  <a href="https://www.merit.com/"><img class="partners-sites" src="/img/meritmedical.png"></a>
  <a href="https://www.cookmedical.com/"><img id="cookmedical" class="partners-sites" src="/img/cookmedical.png"></a>
</div>
