<style>
#main {
  background: white;
  height: auto;
}
  .partners-sites {
    width: 30%;
    padding: 4%;
    -webkit-filter: grayscale(100%);
  }
  .partners-sites:hover {
    -webkit-filter: grayscale(0%);
  }
  #cookmedical {
    width: 15%;
  }
  .part img, .part p {
    display: inline-block;
  }
  .partners-about {
    width: 300px;
    padding-left: 5vh;
    float: left;
  }
  .part p {
    width: 70%;
    float: right;
  }
</style>

  <h1>Партнерам</h1>
  <p>Мы работаем с ведущими производителями, станьте и вы нашим партнером.</p>
  <a href="www.abbott.com/"><img class="partners-sites" src="/img/abbott.png"></a>
  <a href="https://www.biotronik.com/"><img class="partners-sites" src="/img/biotronik.png"></a>
  <a href="https://www.sjm.com/"><img class="partners-sites" src="/img/SJM.png"></a>
  <a href="https://www.xeniosusa.com/"><img class="partners-sites" src="/img/xenios.png"></a>
  <a href="http://medos.com.ua/"><img class="partners-sites" src="/img/medos.png"></a>
  <a href="http://www.sophysa.com/"><img class="partners-sites" src="/img/sophysa.png"></a>
  <a href="https://www.merit.com/"><img class="partners-sites" src="/img/meritmedical.png"></a>
  <a href="https://www.cookmedical.com/"><img id="cookmedical" class="partners-sites" src="/img/cookmedical.png"></a>
  <div id="about">
    <table width="98%" cellpadding="5">
      <tr>
        <div class="part">
          <th><img class="partners-about" src="/img/abbott.png"></th>
          <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
        </div>
      </tr>

    <tr>
      <div class="part">
        <th><img class="partners-about" src="/img/biotronik.png"></th>
        <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
      </div>
    </tr>
      <tr>
        <div class="part">
          <th><img class="partners-about" src="/img/SJM.png"></th>
          <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
        </div>
      </tr>
      <tr>
      <div class="part">
        <th><img class="partners-about" src="/img/xenios.png"></th>
        <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
      </div>
    </tr>

    <tr>
    <div class="part">
      <th><img class="partners-about" src="/img/medos.png"></th>
      <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
    </div>
  </tr>
<tr>
    <div class="part">
      <th><img class="partners-about" src="/img/sophysa.png"></th>
      <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
  </div>
</tr>
<tr>
    <div class="part">
      <th><img class="partners-about" src="/img/meritmedical.png"></th>
      <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
  </div>
</tr>
<tr>
  <div class="part">
      <th><img class="partners-about" src="/img/cookmedical.png" style="width: 250px;"></th>
      <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
  </div>
</tr>
</table>
  </div>
