<style>
  #main {
    padding-bottom: 10vh;
    height: auto;
  }

  #main p {
    text-align: center;
    margin-bottom: 2%;
    padding: 5% 0 0;
    font-size: 25px;
  }

  #partners {
    text-align: center;
    margin: 4vh auto;
  }

  .partners-sites {
    width: 22vw;

    -webkit-filter: grayscale(100%);
  }
  .partners-sites:hover {
    -webkit-filter: grayscale(0%);
  }
  #cookmedical, #xenios {
    width: 12vw;
  }
  .part img, .part p {
    display: inline-block;
  }

  .part img, #about-partners tr th {text-align: center;}

  .part p {
    width: 70%;
    float: right;
  }

  .partners-about {
    width: 300px;
    padding-left: 20px;
  }

  #about-partners {
    margin: 4vh auto 0 auto;
  }

  #about-partners, #partners {background: white;}
</style>

  <h1>Партнерам</h1>
  <p>Мы работаем с ведущими производителями, станьте и вы <br>нашим партнером.</p>
  <table id="partners" cellspacing="20">
    <tr>
  <td><a href="www.abbott.com/"><img class="partners-sites" src="/img/abbott.png"></a></td>
  <td><a href="https://www.sjm.com/"><img class="partners-sites" src="/img/SJM.png"></a></td>
  <td><a href="https://www.biotronik.com/"><img class="partners-sites" src="/img/biotronik.png"></a></td>
  <td><a href="https://www.xeniosusa.com/"><img id="xenios" class="partners-sites" src="/img/xenios.png"></a></td>
</tr>
<tr>
  <td><a href="http://medos.com.ua/"><img class="partners-sites" src="/img/medos.png"></a></td>
  <td><a href="http://www.sophysa.com/"><img class="partners-sites" src="/img/sophysa.png"></a></td>
  <td><a href="https://www.merit.com/"><img class="partners-sites" src="/img/meritmedical.png"></a></td>
  <td><a href="https://www.cookmedical.com/"><img id="cookmedical" class="partners-sites" src="/img/cookmedical.png"></a></td>
</tr>
  <div id="about">
    <table id="about-partners" width="98%" cellpadding="5">
      <tr>
        <div class="part">
          <th><img class="partners-about" src="/img/abbott.png"></th>
          <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
        </div>
      </tr>

    <tr>
      <div class="part">
        <th><img class="partners-about" src="/img/biotronik.png"></th>
        <th><p>
          Компания "BIOTRONIK AG" была создана в 1963 г. на территории Западного Берлина известным учёным и разработчиком электрокардиостимуляторов профессором Максом Шальдахом (1936 – 2001), который ещё в начале 90-х годов наладил широкое сотрудничество с ведущими российскими клиническими и научными учреждениями. За свою почти полувековую историю "BIOTRONIK AG" достиг уровня признанного мирового лидера в разработке и производстве имплантатов для интервенционной кардиологии и аритмологии, оборудования и расходных материалов для электрофизиологических исследований сердца. В настоящее время лаборатории и производственные подразделения "BIOTRONIK AG" расположены в Германии, США и Швейцарии. Спектр продукции компании включает имплантируемые устройства для лечения нарушений ритма сердца, наружные электрокардиостимуляторы и временные электроды, катетеры для электрофизиологической диагностики и радиочастотной абляции сердца, коронарные и периферические стенты и другие изделия для ангиопластики.
        </p></th>
      </div>
    </tr>
      <tr>
        <div class="part">
          <th><img class="partners-about" src="/img/SJM.png"></th>
          <th><p>Компания St. Jude Medical (штат Минесота, США)) основана в 1976 году и имеет больше 100 заводов по всему миру. Компания St. Jude производит медицинское оборудование по следующим направлениями: аритмология, электрофизиология, кардиохирургия, рентгеноэндоваскулярная хирургия, нейрохирургия, интервенционная кардиология. Спектр продукции St.Jude включает: имплантируемые кардиовертеры - дефибрилляторы (ИКД), устройства для сердечной реконструктивной терапии (CRT), электрокардиостимуляторы (ЭКС), катетеры для электрофизиологии, системы для 3D визуализации сердца, окклюдеры, системы для внутрисердечной реконструкции, устройства для стимуляции спинного мозга и глубинных структур головного мозга. </p></th>
        </div>
      </tr>
      <tr>
      <div class="part">
        <th><img class="partners-about" src="/img/xenios.png" style="width: 15vw;"></th>
        <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
      </div>
    </tr>

    <tr>
    <div class="part">
      <th><img class="partners-about" src="/img/medos.png"></th>
      <th><p>Компания MEDOS (Германия) основана в 1987 году. Основным видом деятельности компании является производство и продажа медицинских изделий для сердечно-сосудистой хирургии и интенсивной терапии: оксигенаторы для кардиохирургии и ЭКМО, система для вспомогательного кровообращения DELTASTREAM. Компания Medos занимает лидирующие позиции в мире по производству и поставкам кардиохирургического оборудования. Продукция компании активно используется в таких странах, как Германия, Франция, Великобритания, Япония, Китай, Чехия, Тайвань и др. С 2013 года входит в холдинг Xenios AG </p></th>
    </div>
  </tr>
<tr>
    <div class="part">
      <th><img class="partners-about" src="/img/sophysa.png"></th>
      <th><p>
        Основанная в 1976 году, компания Sophysa (Франция) стала новатором в разработке регулируемых нейрохирургических клапанов для лечения гидроцефалии. Являясь специалистом в области нейрохирургии, компания Sophysa предлагает  широкий выбор нейрохирургических имплантов для лечения гидроцефалии, включая различные виды клапанов, катетеров и резервуаров. Кроме того, линейка оборудования включает датчики внутричерепного давления   и температуры, а также системы наружного дренирования спинномозговой жидкости. Компания SOPHYSA реализует свою продукцию по всему миру через международную сеть эксклюзивных дистрибьюторов. Во Франции и странах Бенилюкса продукция SOPHYSA продается напрямую через торговых представителей. Головной офис, отвечающий за административную и торговую деятельность компании, находится в университетском городке Орсэ, расположенном к югу от Парижа. Центр по научным исследованиям и разработкам, также, как  и производство, находится во французской столице микро-механики - городе Безансон, на ультрасовременном заводе, который был открыт в 2007 году. Компания SOPHYSA также имеет филиалы в Бельгии, в городе Беин-Эюзэ и в США, в городе Кроунпойнт, штат Индиана.
      </p></th>
  </div>
</tr>
<tr>
    <div class="part">
      <th><img class="partners-about" src="/img/meritmedical.png"></th>
      <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
  </div>
</tr>
<tr>
  <div class="part">
      <th><img class="partners-about" src="/img/cookmedical.png" style="width: 250px;"></th>
      <th><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque varius vehicula. In non neque orci. Proin lacinia id nulla id tempor. Sed auctor orci nunc, ac efficitur sapien iaculis ac. Morbi sit amet varius mi, et ullamcorper augue. Phasellus iaculis fringilla nulla eu semper. Duis vehicula nisl eu erat blandit interdum. Proin sit amet sapien leo. Cras sit amet ullamcorper nisi. Praesent interdum dapibus tellus vel maximus. Duis eros magna, tempor at libero vel, imperdiet congue libero. Integer diam mi, mollis a porttitor ac, vestibulum sit amet turpis. Cras placerat dolor in nisi hendrerit finibus</p></th>
  </div>
</tr>
</table>
  </div>
