<header class="container clearfix">
  <div class="logo">
    <a href="#"><img src="/index.png" alt="" /></a>
  </div>
  <a id="search-img-2" href="/search" style="display: none"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAAXNSR0IArs4c6QAAAWBJREFUGNNdjr9rE3EcQN/n87kcmqZFSiqm1DtsF8EqtaVo2wzdFEs20cmpFPx//AtE0KWTi4tDa9FBo4gg1Epy/W2IMZFejabpfc8hGcQ3Pt7wpAg452el0xajhwdpOjQejnqNaKeG9GWqwZ3bw79czr16/rErABbIpYdL3zbWy1Wmp+o7vTLJ3517+6TsILy/9OBwUwELrq9Ejz5kzKz1NT/DawV0aFLff/IBMo0XJ5fzKaAD4c/N/kra3B24mAIq5rr9PXEnvVX98z03lvTL7FinDqBHn3OzFxKAJHdzeO9QASt0J66cqbRw3bO37sVPqwpY2G5Nzoyey56/VioV4nLFAAuTem1kfurqjcXZ462JQnPbwAI53f8S/fbZe7n6xi8GrcjwQN1WdWNQ283YHrvSsq5lLADR9PhHIz715KjiL4TxtgUAomoqCHHVW5B3Hv8i1J5FBx0p8h9e4v4Ch8KAosz7tHEAAAAASUVORK5CYII="></a>
  <a href="#" id="touch-menu">Меню</a>
  <nav>
    <ul class="nav clearfix">
      <li><a href="#">Врачам</a></li>
      <li><a href="#">Пациентам</a></li>
      <li><a href="#">Партнерам</a></li>
      <li><a href="#">Сервис</a></li>
      <li><a href="#">Вопросы и ответы</a></li>
      <a id="search-img" href="/search"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAAXNSR0IArs4c6QAAAWBJREFUGNNdjr9rE3EcQN/n87kcmqZFSiqm1DtsF8EqtaVo2wzdFEs20cmpFPx//AtE0KWTi4tDa9FBo4gg1Epy/W2IMZFejabpfc8hGcQ3Pt7wpAg452el0xajhwdpOjQejnqNaKeG9GWqwZ3bw79czr16/rErABbIpYdL3zbWy1Wmp+o7vTLJ3517+6TsILy/9OBwUwELrq9Ejz5kzKz1NT/DawV0aFLff/IBMo0XJ5fzKaAD4c/N/kra3B24mAIq5rr9PXEnvVX98z03lvTL7FinDqBHn3OzFxKAJHdzeO9QASt0J66cqbRw3bO37sVPqwpY2G5Nzoyey56/VioV4nLFAAuTem1kfurqjcXZ462JQnPbwAI53f8S/fbZe7n6xi8GrcjwQN1WdWNQ283YHrvSsq5lLADR9PhHIz715KjiL4TxtgUAomoqCHHVW5B3Hv8i1J5FBx0p8h9e4v4Ch8KAosz7tHEAAAAASUVORK5CYII="></a>
    </ul>
  </nav>
</header>
<!--<header>
  <a href="../"><img id="index-img" src="/index.png"></a>
  <a style="margin-top: -0.625em;">123</a>

  <div id="menu-links">
    <a href="/doctor"><span>Врачам</span></a>
    <a href="/patient"><span>Пациентам</span></a>
    <a href="/partners"><span>Партнерам</span></a>
    <a href="/service"><span>Сервис</span></a>
    <a href="/questions"><span>Вопросы и ответы</span></a>
  </div>
  <button id="search-img"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAAXNSR0IArs4c6QAAAWBJREFUGNNdjr9rE3EcQN/n87kcmqZFSiqm1DtsF8EqtaVo2wzdFEs20cmpFPx//AtE0KWTi4tDa9FBo4gg1Epy/W2IMZFejabpfc8hGcQ3Pt7wpAg452el0xajhwdpOjQejnqNaKeG9GWqwZ3bw79czr16/rErABbIpYdL3zbWy1Wmp+o7vTLJ3517+6TsILy/9OBwUwELrq9Ejz5kzKz1NT/DawV0aFLff/IBMo0XJ5fzKaAD4c/N/kra3B24mAIq5rr9PXEnvVX98z03lvTL7FinDqBHn3OzFxKAJHdzeO9QASt0J66cqbRw3bO37sVPqwpY2G5Nzoyey56/VioV4nLFAAuTem1kfurqjcXZ462JQnPbwAI53f8S/fbZe7n6xi8GrcjwQN1WdWNQ283YHrvSsq5lLADR9PhHIz715KjiL4TxtgUAomoqCHHVW5B3Hv8i1J5FBx0p8h9e4v4Ch8KAosz7tHEAAAAASUVORK5CYII="></button>
</header>-->
<div id="main">
  <h1>Сервис</h1>
  <p>Сервисная служба обеспечивает технической поддержкой все осуществляемые проекты по оснащению клиник медицинским оборудованием…</p>
  <div id="what_we_do">
  <h2>Направления деятельности сервисной службы</h2>
  <p>Сервисная служба решает следующие задачи:</p>
  <ul>
    <li>Инсталляция медицинского оборудования;</li>
    <li>Первичное обучение персонала;</li>
    <li>Гарантийное обслуживание оборудования;</li>
    <li>Проведение диагностики и ремонта оборудования;</li>
    <li>Поставка оригинальных запасных частей и аксессуаров от производителя;</li>
    <li>Техническое обслуживание оборудования с периодическим выездом сервисного специалиста на основе сервисных договоров.
      Деятельность осуществляется</li>
  </ul>
  </div>
  <div id="contact-service">
    <h2>Свяжитесь с сервис.служб</h2>
    <input class="contact_field" placeholder="Фамилия, имя, отчество">
    <input class="contact_field" placeholder="Ваш E-mail">
    <textarea id="contact_text" class="contact_field" placeholder="Текст вашего сообщения" cols="40" rows="3"></textarea>
  </div>
</div>

<footer>
  <div class="footer-bg">
    <div class="copyright">
      <p><strong>Copyright © 2017 BOSTI. All rights reserved</strong></p>
      <span>Privacy Policy</span>
      <span>Terms of Use</span>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function(){
        var touch = $('#touch-menu');
        var menu = $('.nav');

        $(touch).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function(){
            var wid = $(window).width();
            if(wid > 803 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });

    });
</script>