<style>
#main {
  height: 125vh;
}
#what_we_do {
  float: left;
  width: 45%;
  margin: 5% 0 0 10%;
}

#what_we_do, #contact-service {
  display: inline-block;
  vertical-align: top;
  padding: 1% 2%;
  border: 1px solid #2E2F30;
  background: white;
}

#contact-service {
  float: right;
  width: 20%;
  min-width: 400px;
  margin: 5%;
}

.contact_field {
  margin: 2%;
  width: 100%;
  padding: 2% 3%;
}

#contact-service h2, #what_we_do h2 {
  padding: 0 0 2% 0;
}
</style>
  <h1>Сервис</h1>
  <p>Сервисная служба обеспечивает технической поддержкой все осуществляемые проекты по оснащению клиник медицинским оборудованием…</p>
  <div id="what_we_do">
  <h2>Направления деятельности сервисной службы</h2>
  <p>Сервисная служба решает следующие задачи:</p>
  <ul>
    <li>Инсталляция медицинского оборудования;</li>
    <li>Первичное обучение персонала;</li>
    <li>Гарантийное обслуживание оборудования;</li>
    <li>Проведение диагностики и ремонта оборудования;</li>
    <li>Поставка оригинальных запасных частей и аксессуаров от производителя;</li>
    <li>Техническое обслуживание оборудования с периодическим выездом сервисного специалиста на основе сервисных договоров.
      Деятельность осуществляется</li>
  </ul>
  </div>
  <div id="contact-service">
    <h2>Свяжитесь с сервис.служб</h2>
    <input class="contact_field" placeholder="Фамилия, имя, отчество">
    <input class="contact_field" placeholder="Ваш E-mail">
    <textarea id="contact_text" class="contact_field" placeholder="Текст вашего сообщения" cols="40" rows="3"></textarea>
    <input class="contact_field" value="Отправить" type="submit">
  </div>
