<div id="main">
  <h1>Сервис</h1>
  <p>Сервисная служба обеспечивает технической поддержкой все осуществляемые проекты по оснащению клиник медицинским оборудованием…</p>
  <div id="what_we_do">
  <h2>Направления деятельности сервисной службы</h2>
  <p>Сервисная служба решает следующие задачи:</p>
  <ul>
    <li>Инсталляция медицинского оборудования;</li>
    <li>Первичное обучение персонала;</li>
    <li>Гарантийное обслуживание оборудования;</li>
    <li>Проведение диагностики и ремонта оборудования;</li>
    <li>Поставка оригинальных запасных частей и аксессуаров от производителя;</li>
    <li>Техническое обслуживание оборудования с периодическим выездом сервисного специалиста на основе сервисных договоров.
      Деятельность осуществляется</li>
  </ul>
  </div>
  <div id="contact-service">
    <h2>Свяжитесь с сервис.служб</h2>
    <input class="contact_field" placeholder="Фамилия, имя, отчество">
    <input class="contact_field" placeholder="Ваш E-mail">
    <textarea id="contact_text" class="contact_field" placeholder="Текст вашего сообщения" cols="40" rows="3"></textarea>
  </div>
</div>

<footer>
  <div class="footer-bg">
    <div class="copyright">
      <p><strong>Copyright © 2017 BOSTI. All rights reserved</strong></p>
      <span>Privacy Policy</span>
      <span>Terms of Use</span>
    </div>
  </div>
</footer>