<style>
.center_page {
  margin: auto;
  width: 50vw;
  padding-top: 20vh;
}
</style>
<div class="center_page">
  <p><b>Логин:</b><br>
   <input type="text" size="40">
  </p>
  <p><b>Пароль:</b><br>
   <input type="text" size="40">
  </p>
</div>
