// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.nav li a.active {background: red;}

* {
  margin: 0;
  padding: 0;
  font-family: 'PF Din';
  font-weight: 100;
  font-size: 25px;
}

h1 {font-size: 40px;}
h2 {font-size: 35px;}
p {font-size: 28px;}
input, textarea {
  font-size: 20px;
}

@font-face {font-family:'PF Din';src: url('/pfdintextcomppro-light.ttf');}

#new_user {
  margin: auto;
  text-align: center;
  padding: 2% 1%;
  border: 1px solid;
  border-radius: 5px;
  width: 30%;
}

.actions input {
  width: 50%;
}

header ul {list-style: none;}
* {
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo img {
  height: 40px;
  vertical-align: middle;
  margin-left: 10%;
}

a, a:hover {text-decoration: none;}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

.container {
  margin: 0 auto;
  height: 60px;
}

header {
  position: fixed;
  padding: 10px;
  background: #3E3E3E;
  width: 100%;
  z-index: 1;
}

#search-img {padding-left: 2%;}

#search-img img, #search-img-2 img {
  margin-top: 0.625em;
}

.nav {
  margin-left: 20%;
}
.nav li, .logo {float: left;}
.nav li a,
#touch-menu {
  display: block;
  padding: 12px 15px;
  text-transform: lowercase;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.nav li a:hover,
#touch-menu:hover {background: #515572;}

#touch-menu {display: none;}

@media (max-width: 803px) {
  body {padding-top: 60px}
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }
  .nav li {float: none;}
  .nav li a {
    color: #666;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    background: #fff;
  }

  .nav li a:hover {
    color: #333;
    border-left: 3px solid #515572;
    background: #f0f0f0;
  }
  #touch-menu {
    display: block;
    float: right;
    height: 40px;
  }

  #search-img {display: none;}
  #search-img-2 {
    display: block;
    float: right;
  }
}

#main {
  background: url("/img/background.png") no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh;
  min-height: 100vh;
}

#main h1, h2 {
  text-align: center;
  padding-top: 10%;
}

#main p {
  padding: 5% 0 0 10%;
}

#main ul {
  padding-left: 10%;
}

footer { /* Поднимаем вверх */
  overflow: auto; /* Отменяем схлопывающиеся отступы */
  position: relative; /* Относительное позиционирование */
  width: 100%;
  background: #2E2F30;
}

.copyright {
  width: 740px; /* Ширина макета без полей */
  padding: 0 10px 10px; /* Поля */
  margin: auto; /* Выравнивание по центру */
  color: white; /* Цвет текста */
}

.copyright strong {font-size: 20px;}

.copyright p {
  margin: 1% 0 5px 0; /* Отступы текста */
  text-align: center;
}

.copyright p, .copyright span {
  display: inline-block;
  font-size: 20px;
}

.copyright span {
  padding: 2px 1%;
}
