// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  padding-top: 25%;
}

#main {
  height: auto;
}

#ask_qustions {
  border: 1px solid black;
  width: 40%;
  margin: 2% auto 4% 10%;
  background: white;
}
#ask {
  margin: 3%;
}

#qustions {margin: 3%}

#qustions h4 {margin-top: 3%;}

.answ {
  color: #da6767;
}

  #ask_qustions, #tell_story {
    display: inline-block;
  }

#tell_story {
  position: absolute;
  margin: 2% auto auto 5% ;
}

#tell_story img {
  width: 400px;
  float: right;
  z-index: 2;
}
input, textarea {
  width: 100%;
  padding: 1% 2%;
  margin: 1% auto;
}

@media (max-width: 900px) {
  #main {height: auto;}
  #ask_qustions {
    margin-left: 5% !important;
  }
}
